<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" type="image/png" href="https://icon2.kisspng.com/20171220/zge/pikachu-png-5a3a8cb04eba97.2589182415137865443225.jpg">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/app.js" defer></script>
    <title>Tunely</title>
  </head>
  <body>
    <h1>hello</h1>
  </body>
</html>
